---
import ContentLayout from "../../layouts/ContentLayout.astro";
---

<ContentLayout>
  <section>
    <div class="course-content">
      <h1>Découvrez TypeScript</h1>
      <article>
        <h2 id="typescript-superset">TypeScript, un superset du JavaScript</h2>

        <img
          src="/superhero.webp"
          alt="Un superhéros en haut d'un immeuble, pixel art"
          title="Un superhéros en haut d'un immeuble, pixel art"
        />

        <p>
          Le 1er octobre 2012, Microsoft annonce officiellement TypeScript par
          le biais d’Anders Hejlsberg. Pour la petite histoire, Anders Hejlsberg
          est un programmateur danois qui a notamment écrit le Turbo Pascal et
          le Delphi dans les années 80/90. Après plus de deux ans de
          développement en interne, Microsoft publie (on dit aussi release) la
          première version publique de TypeScript.
        </p>

        <p>
          Vous pouvez jeter un œil <a
            href="https://web.archive.org/web/20121003001910/https://blogs.msdn.com/b/somasegar/archive/2012/10/01/typescript-javascript-development-at-application-scale.aspx"
            target="_blank">à l’annonce officielle</a
          >. Vous n’avez pas forcément besoin de tout lire ou de tout regarder :
          la vidéo dure plus de 50 minutes et TypeScript a évolué depuis. Ce qui
          est important ici, c’est la vision derrière la création de TypeScript.
        </p>
      </article>

      <article>
        <h2 id="typescript-problematique">
          À quelle problématique TypeScript répond ?
        </h2>

        <img
          src="/homme-reflexion.webp"
          alt="Quelqu'un réfléchissant sur un canapé"
          title="Quelqu'un réfléchissant sur un canapé"
        />

        <p>
          Si vous avez déjà suivi l’un des mes cours, les prochaines lignes ne
          devraient pas vous surprendre. Quand j’apprends à utiliser un nouvel
          outil, un nouveau framework ou un nouveau langage, je me pose
          régulièrement la question : <strong>
            “à quelle problématique cet outil ou ce langage tente de répondre ?”</strong
          >. Non seulement, cela accélère mon apprentissage mais cela me permet
          de contextualiser l’information et la connaissance.
        </p>
      </article>
    </div>

    <div class="course-info">
      <aside>
        <h2>Contenu</h2>
        <ul>
          <li>TypeScript, un superset du JavaScript</li>
          <li>
            <a href="#typescript-problematique">
              TypeScript, c'est trop top moumou
            </a>
          </li>
          <li>Résumé</li>
        </ul>
      </aside>
    </div>
  </section>
</ContentLayout>

<style>
  section {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
  }

  .course-content {
    width: 70%;
  }

  .course-info {
    width: 30%;
    position: relative;

    aside {
        position: fixed;
    }
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  p {
    line-height: 28px;
  }

  a {
    text-decoration: none;
    color: #4effa0;
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: #4effa0bb;
    }
  }
</style>
