---
import BaseLayout from "../../../layouts/BaseLayout.astro"

const pageTitle = "Conteneurisez vos applications avec Docker"
const pageDescription = "Une super description"
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <div>
        <h1>{pageTitle}</h1>

        <h2>Contenu du cours</h2>
        <ul>
            <li>
                <a href="/cours/docker-et-docker-compose/chapitres/decouverte-docker">
                    Découvrez Docker
                </a>
            </li>
        </ul>
    </div>
</BaseLayout>
