---
import BaseLayout from "../../../layouts/BaseLayout.astro"

const pageTitle = "Conteneurisez vos applications avec Docker"
const pageDescription = "Une super description"
---

<BaseLayout title={pageTitle} description={pageDescription}>
    <div>
        <h1>{pageTitle}</h1>
    </div>
</BaseLayout>
