---
import BaseLayout from "../../layouts/BaseLayout.astro";

import QuizArcade from "../../components/QuizArcade";

const pageTitle = "Nos quiz";
const pageDescription =
  "Testez vos connaissances en programmation et en devops avec les quiz gratuits de NX Academy. Évaluez votre niveau, sans inscription.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main>
    <h1 class="sr-only">Nos quiz</h1>
    <QuizArcade client:load />
  </main>
</BaseLayout>

<style>
  main {
    margin-left: auto;
    margin-right: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
</style>
