---
import ContentLayout from "../../layouts/ContentLayout.astro";
---

<ContentLayout>
  <section>
    <h1>Le temps est-il un luxe ?</h1>

    <img
      src="/homme-dans-hamac-plage.webp"
      alt="Quelqu'un de souriant couché dans un hamac sur une plage ensoleilé, pixel art"
      title="Quelqu'un de souriant couché dans un hamac sur une plage ensoleilé, pixel art"
    />

    L'idée de ce post est de parler de notre rapport au temps.
    Nous sommes actuellement dans une société qui pousse à nous en faire faire toujours plus.
    
    Le président Sarkozi parlait à son époque de travailler plus pour gagner plus. Au-delà de cette idée très productiviste et basée sur la croissance, elle est avant tout génératrice de beaucoup de frustration.

    Idées de l'article :
    - Avoir du temps augmente le bien être et diminue les frustrations.
    - Avoir du temps permet de se ressourcer.
    - Avoir du temps pour soi augmente la productivité.
    - Les pauvres n'ont souvent pas de temps pour eux. Ils sont obligés de travailler plus pour gagner peu.
    - Avoir du temps rime avec decroissance ?


    <article>
      <h2>Pourquoi ?</h2>
    </article>

    <hr>

    <article>
        <h2>Comment ?</h2>
      </article>
  </section>
</ContentLayout>

<style>
  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  section {
    width: 90%;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-bottom: 1.5rem;
  }

  hr {
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #4effa0;
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: #4effa0bb;
    }
  }

  .brand-name,
  .author {
    font-family: "Pixelify Sans", sans-serif;
  }

  .author {
    font-size: 1.5rem;
  }
</style>
