@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #151515;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: #38946b;
}

p {
  line-height: 25px;
}
