.question-indicator {
    font-size: .75rem;
}

.question {
    font-size: 1.25rem;
    margin-bottom: 32px;
}

.explanation-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.explanation-title-right {
    color: #4effa0;
}

.explanation-title-wrong {
    /* For my Eden School students ^^ */
    color: tomato;
}

.explanation {
    color: #bababa;
    margin-bottom: 40px;
}

.options-wrapper {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
}

.answer {
    background-color: #252525;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    border: 1px solid #252525;

    &:hover {
        border: 1px solid #B0BEC5;
    }
}

.active {
    background-color: #B0BEC5;
    color: #151515;
}

.correct-answer {
    background-color: #252525;
    border: 1px solid #4effa0;
    color: #FFF;
}

.wrong-answer {
    background-color: #252525;
    border: 1px solid tomato;
    color: #FFF;
}

.submit-answer-btn {
    background-color: #4effa0;
    border: 1px solid #4effa0;
    width: 100%;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    color: #151515;
    border-radius: 8px;
    transition: .4s;
    font-weight: 700;

    &:hover {
        background-color: #4effa0dd;
    }
}

.finished-quiz-title {
    font-size: 32px;
}

.finished-quiz-score {
    margin-bottom: 24px;
}

.finished-quiz-btns {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.go-back {
    background-color: #4effa0;
    border: 1px solid #4effa0;
    text-align: center;
    padding: 8px 16px;
    cursor: pointer;
    color: #151515;
    border-radius: 8px;
    transition: .4s;
    display: block;
    text-decoration: none;

    &:hover {
        background-color: #4effa0dd;
    }
}

.redo-quiz {
    display: block;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s;
    background-color: #B0BEC5;
    color: #151515;
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .finished-quiz-btns {
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .quiz-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .quiz-inner-container {
        display: flex;
        gap: 40px;
    }

    .question-wrapper {
        width: 50%;
    }

    .explanation {
        margin-bottom: 0;   
    }

    .options-container {
        width: 50%;
    }
}
