/* By default, NX is in dark mode */
:root {
  --backgroundColorPrimary: #151515;
  --backgroundColorSecondary: #252525;

  --borderPrimary: #333;
  --borderSecondary: #fe7600;

  --titleColor: #fff;
  --textColor: #bababa;

  --linkColor: #fff;
  --linkHoverColor: #4effa0;

  --burgerColor: #fff;
  --burgerHoverColor: #4effa0;

  --buttonColorPrimary: #4effa0;
  --buttonColorPrimaryHover: #4effa0aa;
  --buttonColorPrimaryText: #151515;

  --buttonColorSecondary: #b0bec5;
  --buttonColorSecondaryHover: #b0bec5aa;
  --buttonColorSecondaryText: #151515;

  --codeBackgroundColor: #4effa0;
  --codeTextColor: #333;

  --articleLinkColor: #4effa0;
  --articleLinkHoverColor: #4effa0aa;

  --quiz-title-right: #4effa0;
  --quiz-title-wrong: tomato;
}


@media (prefers-color-scheme: light) {
  :root {
    --backgroundColorPrimary: #FFF;
    --backgroundColorSecondary: #EEE;

    --borderPrimary: #DDD;

    --titleColor: #333;
    --textColor: #656565;

    --linkColor: #333;
    --linkHoverColor: #4D4DFF;

    --burgerColor: #333;
    --burgerHoverColor: #4D4DFF;

    --buttonColorPrimary: #4D4DFF;
    --buttonColorPrimaryHover: #4D4DFFCC;
    --buttonColorPrimaryText: #FFF;

    --buttonColorSecondary: #6c757d;
    --buttonColorSecondaryHover: #6c757dbb;
    --buttonColorSecondaryText: #ffffff;

    --codeBackgroundColor: #4D4DFF;
    --codeTextColor: #FFF;

    --articleLinkColor: #4D4DFF;
    --articleLinkHoverColor: #4D4DFFCC;
  }
}