---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Changelog";
const pageDescription =
  "NX Academy est regulièrement mis à jour. J'utilise cette page pour vous tenir au courant des derniers fixes et fonctionnalités.";

import { MONTHS_2025 } from "../data/changelog";

import MontlyChangelog from "../components/Changelog.astro";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="main-wrapper">
    <h1>Changelog</h1>
    <div class="changelog-description">
      <p>
        Merci de prendre le temps de consulter ce changelog. Si le terme ne vous
        est pas familier, sachez qu’il s’agit simplement <strong
          >d’un journal de mise à jour</strong
        >. L’idée ici est de vous tenir au courant des évolutions de NX Academy
        : nouvelles fonctionnalités, corrections, ajustements.
      </p>
      <p>
        Pour votre information, je travaille sur la nouvelle version de NX
        Academy depuis environ 9 mois. Cela dit, je n'ai pas tout le temps eu
        autant de temps que je l'aurais souhaité pour travailler dessus. <strong
          >J'ai lancé ce changelog en Avril 2025.</strong
        > Je vais continuer à le mettre à jour après ce mois et j'essayerais d'ajouter
        des dates avant, dans la mesure du possible.
      </p>
      <p>Bonne lecture 🙂 !</p>
    </div>
    <MontlyChangelog monthlyChangelog={MONTHS_2025} year=" 2025" />
  </main>
</BaseLayout>

<style>
  .main-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    max-inline-size: 66ch;
  }

  .changelog-description {
    padding-top: 24px;
    margin-bottom: 56px;
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    margin-bottom: 24px;
  }

  h3 {
    margin-bottom: 8px;
  }

  p,
  li {
    margin-bottom: 24px;
    color: var(--textColor);
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  a {
    color: var(--articleLinkColor);

    &:hover {
      color: var(--articleLinkHoverColor);
    }
  }
</style>
