---
import { db, NewsFeed, desc } from "astro:db";

import BaseLayout from "../layouts/BaseLayout.astro";

const newsFeed = await db.select().from(NewsFeed).orderBy(desc(NewsFeed.id));
---

<BaseLayout>
  <main class="main-wrapper">
    <h1>Le Feed</h1>
    <div class="feed-description">
      <p>Un peu de blabla</p>
    </div>
    <section class="feed-wrapper">
      {
        newsFeed.map((news) => (
          <div id={news.slug} class="news-wrapper">
            <p class="news-title">{news.title}</p>
            <p class="news-content">{news.content}</p>
            <p class="news-date">
              {news.published.toLocaleDateString("FR-fr")}
            </p>
            <a class="news-url" href={news.url}>
              Lire la source
            </a>
          </div>
        ))
      }
    </section>
  </main>
</BaseLayout>

<style>
  .main-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    max-inline-size: 66ch;
  }

  h1 {
    margin-top: 0;
    color: var(--titleColor);
  }

  .feed-description {
    margin-bottom: 32px;
  }

  .feed-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .news-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--textColor);
  }

  .news-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--titleColor);
  }

  .news-content {
    font-size: 16px;
  }

  .news-date {
    font-size: 12px;
    font-weight: 700;
  }

  .news-url {
    color: var(--articleLinkColor);
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      color: var(--articleLinkHoverColor);
    }
  }
</style>
