---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Cours en Ligne de Programmation, DevOps et IA - Apprenez et Évoluez"
  meta="Élevez vos compétences avec des cours en ligne spécialisés en programmation, DevOps et IA. Accédez à des contenus interactifs de qualité, des tutoriels pratiques et des cheasheets. Le tout sans dépenser un euro."
>
  <h1>NX Academy</h1>
  <p>
    Bienvenue sur la V2 : <a href="/blog/posts/bienvenue-v2">Lire le post</a>
  </p>
  <p>
    Le premier chapitre du cours <strong>Développez des applications avec TypeScript</strong> <br /> est <a href="/cours/cours-typescript-tsconfig-eslint/chapitres/decouverte-typescript">disponible.</a>
  </p>
</BaseLayout>

<style>
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
  }

  h1 {
    font-family: "Pixelify Sans", sans-serif;
  }

  p {
    text-align: center;
  }

  a {
    text-decoration: underline;
    margin-bottom: 16px;
  }
</style>
