---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <main>
    <h1>Hello, NX</h1>
  </main>
</BaseLayout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
