---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <h1>NX Academy</h1>
  <a href="/blog/posts/bienvenue-v2">Bienvenue sur la V2</a>
  <br />
  <a href="/courses/cours-typescript-tsconfig-eslint/chapitres/decouverte-typescript">Découvrez TypeScript</a>
</BaseLayout>

<style>
  body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
  }

  h1 {
    font-family: "Pixelify Sans", sans-serif;
  }

  a {
    text-decoration: underline;
    margin-bottom: 16px;
  }
</style>
