---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main>
        <h1>Bienvenue sur NX Academy</h1>
    </main>
</BaseLayout>

<style>
    main {
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;
        width: 90%;
    }
</style>
