---
import Button from "./Button.astro";
import Heading3 from "./Heading3.astro";
import ParagraphSmall from "./ParagraphSmall.astro";
---

<div class="main-wrapper">
  <div class="content-wrapper">
    <Heading3 content="NX va proposer des jeux vidéo !" />
    <ParagraphSmall
      content="Depuis bientôt un an, je développe des jeux dans mon coin. Je vais bientôt créer pas mal de contenus en rapport."
    />
  </div>
  <div class="buttons-wrapper">
    <Button href="/jeux" label="Voir les jeux" type="primary" />
    <Button
      href="/articles/nx-fait-des-jeux"
      label="En savoir plus"
      type="secondary"
    />
  </div>
</div>

<style>
  .main-wrapper {
    background-color: var(--backgroundColorSecondary);
    border-radius: 8px;
    display: grid;
    gap: 2rem;
    padding: 2rem 1.5rem;

    @media screen and (min-width: 48rem) {
      gap: 3rem;
    }
  }

  .content-wrapper {
    @media screen and (min-width: 48rem) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  .buttons-wrapper {
    display: grid;
    gap: 1.5rem;
    text-align: center;

    @media screen and (min-width: 48rem) {
      gap: 2rem;
      grid-template-columns: max-content max-content;
    }
  }
</style>
