---
import Button from "./Button.astro"
import Heading2 from "./Heading2.astro"
---


<div class="main-wrapper">
    <Heading2 content="Nouveau sur le site ?" />
    <div class="buttons-wrapper">
        <Button href="#" label="Suivre le projet sur GitHub" type="secondary" />
        <Button href="#" label="Découvrir notre manifeste" type="primary" />
    </div>
</div>

<style>
    .main-wrapper {
        background-color: #252525;
        padding: 32px 24px;
        display: grid;
        gap: 24px;
        border-radius: 8px;
    }

    .buttons-wrapper {
        display: grid;
        gap: 24px;
        

        @media screen and (min-width: 48rem) {
            gap: 32px;
            grid-template-columns: max-content max-content;
        }
    }
</style>
