---
import Button from "./Button.astro";
import Heading3 from "./Heading3.astro";
import ParagraphSmall from "./ParagraphSmall.astro";
---

<div class="main-wrapper">
  <div class="content-wrapper">
    <Heading3 content="Le cours sur les pipelines CI/CD est sorti !" />
    <ParagraphSmall content="Découvrez comment utiliser les GitHub Actions pour automatiser vos tests et vos mises en production." />
  </div>
  <div class="buttons-wrapper">
    <Button href="/cours/ci-cd-github-actions" label="Commencer le cours" type="primary" />
    <Button href="/cours" label="Voir les autres cours" type="secondary" />
  </div>
</div>

<style>
  .main-wrapper {
    background-color: var(--backgroundColorSecondary);
    border-radius: 8px;
    display: grid;
    gap: 2rem;
    padding: 2rem 1.5rem;

    @media screen and (min-width: 48rem) {
      gap: 3rem;
    }
  }

  .content-wrapper {
    @media screen and (min-width: 48rem) {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }
  }

  .buttons-wrapper {
    display: grid;
    gap: 1.5rem;
    text-align: center;

    @media screen and (min-width: 48rem) {
      gap: 2rem;
      grid-template-columns: max-content max-content;
    }
  }
</style>
