---

---

<ul class="links-wrapper">
    <li>
        <a href="/">NX Academy</a>
    </li>
    <li>
        <a href="/cours">Cours</a>
    </li>
    <li>
        <a href="#">Conteneurisez vos applications avec Docker</a>
    </li>
</ul>

<style>
    .links-wrapper {
        margin-top: 16px;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        gap: 8px;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
        flex-wrap: wrap;
        max-width: 1100px;
    }

    .links-wrapper li {
        margin-bottom: 0;
    }

    .links-wrapper li::after {
        content: " > ";
    }

    .links-wrapper li:last-child::after {
        content: "";
    }

    .links-wrapper li a {
        transition: 0.4s color;
        
        &:hover {
            color: #4effa0bb;
        }
    }
</style>
