---
import createBreadcrumb from "../utils/createBreadcrumb"

const breadcrumb = Astro.url.pathname
const arrayOfLinks = createBreadcrumb(breadcrumb)
---

{
    arrayOfLinks ? (
        <ul class="links-list">
            {
                arrayOfLinks.map((link, index) => {
                    if (link === "accueil") {
                        return (
                            <li>
                                <a href="/">Accueil</a>
                            </li>
                        )
                    } else if (link === "/") {
                        return <li> / </li>
                    } else if ((arrayOfLinks.length - 1) === index) {
                        return <li>{link.split("-").join(" ")}</li>
                    } else {
                        return <li><a href={`/${link}`}>{link}</a></li>
                    }
                })
            }
        </ul>
    ) : (
        null
    )
}

<style>
    .links-list {
        list-style-type: none;
        display: flex;
        padding-left: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1100px;

        li {
            margin-right: .5rem;

            &:last-child {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        li a {
            color: #4effa0;
            transition: .4s;

            &:hover {
                color: #4effa0aa;
            }
        }
    }
</style>
