---
import theme from "../config/theme"

interface Props {
  label: string;
  type: "primary" | "secondary";
  href: string;
  external?: boolean
}

const { label, type, href, external } = Astro.props;

const {
  colors: {
    black,
    neonGreen,
    neonGreenLight,
    white
  }
} = theme
---

<a class={type} href={href} target={external ? "_blank" : ""}>
  {label}
</a>

<style define:vars={{ black, neonGreen, neonGreenLight, white }}>
  a {
    text-decoration: none;
    font-weight: 500;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.4s;
  }

  .primary {
    color: #151515;
    border: 1px solid #4effa0;
    background-color: #4effa0;

    &:hover {
      background-color: #4effa0aa;
    }
  }

  .secondary {
    background-color: #B0BEC5;
    color: #151515;
    border: 1px solid #B0BEC5;

    &:hover {
      background-color: #B0BEC5AA;
    }
  }
</style>
