---
interface Props {
  label: string;
  type: "primary" | "secondary";
  href: string;
  external?: boolean;
}

const { label, type, href, external } = Astro.props;
---

<a
  class={type}
  href={href}
  target={external ? "_blank" : ""}
  rel={external ? "noopener noreferrer" : ""}
>
  {label}
</a>

<style>
  a {
    text-decoration: none;
    font-weight: 400;
    padding: 8px 32px;
    border-radius: 8px;
    transition: 0.4s;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .primary {
    color: var(--buttonColorPrimaryText);
    border: 1px solid var(----buttonColorPrimary);
    background-color: var(--buttonColorPrimary);

    &:hover {
      background-color: var(--buttonColorPrimaryHover);
    }
  }

  .secondary {
    background-color: var(--buttonColorSecondary);
    color: var(--buttonColorSecondaryText);
    border: 1px solid var(--buttonColorSecondary);

    &:hover {
      background-color: var(--buttonColorSecondaryHover);
    }
  }
</style>
