---
import ParagraphLarge from "./ParagraphLarge.astro"
import Heading3 from "./Heading3.astro"
import ParagraphExtraSmall from "./ParagraphExtraSmall.astro"
import ParagraphSmall from "./ParagraphSmall.astro"
---

<a href="#">
  <img class="image" src="/public/enfant-rangeant-jouets.webp" alt="" />
  <ParagraphLarge content="Fiche technique" />
  <Heading3 content="Comprendre le mot clé this" />
  <ParagraphExtraSmall content="Niveau : intermédiaire" />
  <ParagraphSmall content="Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." />
</a>

<style>
  a {
    display: grid;
    gap: 8px;
  }

  a:hover .image {
    border-color: #4effa0;
  }

  .image {
    border-radius: 16px;
    transition: .4s;
    border: 2px solid #151515;
  }
</style>
