<footer>
  © <span>2025 NX Academy</span>
</footer>

<style>
  footer {
    border-top: 1px solid #333;
    text-align: center;
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;

    span {
      font-family: "Pixelify Sans", sans-serif;
      font-size: 18px;
    }
  }
</style>
