<footer>
  © <span>2024 NX Academy</span>
</footer>

<style>
  footer {
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    span {
      font-family: "Pixelify Sans", sans-serif;
    }
  }
</style>
