<footer class="footer-wrapper">
  <div class="footer-content">
    <p class="footer-copyright">
      © <span>2025 NX Academy</span>
    </p>

    <nav class="footer-nav">
      <a href="/manifeste">À propos</a>
      -
      <a href="/mentions-legales">Mentions légales</a>
    </nav>

    <ul class="social-links">
      <li>
        <a
          href="https://github.com/nx-academy"
          aria-label="GitHub"
          target="_blank"
          rel="noopener"
        >
          <img src="/icons/github.svg" alt="GitHub" />
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/nx-academy-france"
          aria-label="LinkedIn"
          target="_blank"
          rel="noopener"
        >
          <img
            style="height: 34px; width: 34px;"
            src="/icons/linkedin.svg"
            alt=""
          />
        </a>
      </li>
      <li>
        <a href="/rss.xml" aria-label="Flux RSS">
          <img src="/icons/rss.svg" alt="" />
        </a>
      </li>
    </ul>
  </div>
</footer>

<style>
  .footer-wrapper {
    border-top: 1px solid var(--borderPrimary);
    text-align: center;
    padding-top: 2rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .footer-content {
    display: grid;
    gap: 16px;
  }

  .footer-copyright {
    margin-bottom: 0;
    color: var(--linkColor);

    span {
      font-family: "Pixelify Sans", sans-serif;
      font-size: 18px;
    }
  }

  .footer-nav a {
    transition: 0.4s;
    text-decoration: none;
    color: var(--linkColor);

    &:visited {
      color: var(--linkColor);
    }

    &:hover {
      color: var(--linkHoverColor);
    }
  }

  .social-links {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 0;
  }

  .social-links li {
    margin-bottom: 0;

    img {
      margin-bottom: 0;
      height: 24px;
      width: 24px;
    }
  }

  @media screen and (min-width: 1024px) {
    .footer-content {
      max-width: 1100px;
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
