---
interface Props {
    content: string
}

const {
    content,
} = Astro.props
---

<h3>
    {
        content
    }
</h3>

<style>
    h3 {
        font-size: 1.5rem;
        transition: .4s;
    }
</style>
