---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<h3>
  {content}
</h3>

<style>
  h3 {
    color: #fff;
    font-size: clamp(1.25rem, 1.25rem + 0.278vw, 1.5rem);
    transition: 0.4s;
  }
</style>
