<header>
  <div class="innner-div-wrapper">
    <div class="brand">
      <a href="/">NX Academy</a>
    </div>

    <nav class="desktop-nav">
      <a href="/fiches">Fiches techniques</a>
      <a href="/articles">Articles</a>
      <a href="/cours">Cours</a>
      <a href="/quiz">Quiz</a>
    </nav>

    <div class="theme-btn" aria-label="Changer le thème">
      <svg
        class="moon-icon"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.9001 2.30719C19.7392 1.8976 19.1616 1.8976 19.0007 2.30719L18.5703 3.40247C18.5212 3.52752 18.4226 3.62651 18.298 3.67583L17.2067 4.1078C16.7986 4.26934 16.7986 4.849 17.2067 5.01054L18.298 5.44252C18.4226 5.49184 18.5212 5.59082 18.5703 5.71587L19.0007 6.81115C19.1616 7.22074 19.7392 7.22074 19.9001 6.81116L20.3305 5.71587C20.3796 5.59082 20.4782 5.49184 20.6028 5.44252L21.6941 5.01054C22.1022 4.849 22.1022 4.26934 21.6941 4.1078L20.6028 3.67583C20.4782 3.62651 20.3796 3.52752 20.3305 3.40247L19.9001 2.30719Z"
          stroke="#FFF"></path>
        <path
          d="M16.0328 8.12967C15.8718 7.72009 15.2943 7.72009 15.1333 8.12967L14.9764 8.52902C14.9273 8.65407 14.8287 8.75305 14.7041 8.80237L14.3062 8.95987C13.8981 9.12141 13.8981 9.70107 14.3062 9.86261L14.7041 10.0201C14.8287 10.0694 14.9273 10.1684 14.9764 10.2935L15.1333 10.6928C15.2943 11.1024 15.8718 11.1024 16.0328 10.6928L16.1897 10.2935C16.2388 10.1684 16.3374 10.0694 16.462 10.0201L16.8599 9.86261C17.268 9.70107 17.268 9.12141 16.8599 8.95987L16.462 8.80237C16.3374 8.75305 16.2388 8.65407 16.1897 8.52902L16.0328 8.12967Z"
          stroke="#FFF"></path>
        <path
          d="M21.0672 11.8568L20.4253 11.469L21.0672 11.8568ZM12.1432 2.93276L11.7553 2.29085V2.29085L12.1432 2.93276ZM21.25 12C21.25 17.1086 17.1086 21.25 12 21.25V22.75C17.9371 22.75 22.75 17.9371 22.75 12H21.25ZM12 21.25C6.89137 21.25 2.75 17.1086 2.75 12H1.25C1.25 17.9371 6.06294 22.75 12 22.75V21.25ZM2.75 12C2.75 6.89137 6.89137 2.75 12 2.75V1.25C6.06294 1.25 1.25 6.06294 1.25 12H2.75ZM15.5 14.25C12.3244 14.25 9.75 11.6756 9.75 8.5H8.25C8.25 12.5041 11.4959 15.75 15.5 15.75V14.25ZM20.4253 11.469C19.4172 13.1373 17.5882 14.25 15.5 14.25V15.75C18.1349 15.75 20.4407 14.3439 21.7092 12.2447L20.4253 11.469ZM9.75 8.5C9.75 6.41182 10.8627 4.5828 12.531 3.57467L11.7553 2.29085C9.65609 3.5593 8.25 5.86509 8.25 8.5H9.75ZM12 2.75C11.9115 2.75 11.8077 2.71008 11.7324 2.63168C11.6686 2.56527 11.6538 2.50244 11.6503 2.47703C11.6461 2.44587 11.6482 2.35557 11.7553 2.29085L12.531 3.57467C13.0342 3.27065 13.196 2.71398 13.1368 2.27627C13.0754 1.82126 12.7166 1.25 12 1.25V2.75ZM21.7092 12.2447C21.6444 12.3518 21.5541 12.3539 21.523 12.3497C21.4976 12.3462 21.4347 12.3314 21.3683 12.2676C21.2899 12.1923 21.25 12.0885 21.25 12H22.75C22.75 11.2834 22.1787 10.9246 21.7237 10.8632C21.286 10.804 20.7293 10.9658 20.4253 11.469L21.7092 12.2447Z"
          fill="#FFF"></path>
      </svg>
      <svg
        class="sun-icon"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8 22H16"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5 19H19"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M2 16H22"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 6C8.68629 6 6 8.68629 6 12C6 13.5217 6.56645 14.911 7.5 15.9687H16.5C17.4335 14.911 18 13.5217 18 12C18 8.68629 15.3137 6 12 6Z"
          stroke="#1C274C"
          stroke-width="1.5"></path>
        <path
          d="M12 2V3"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"></path>
        <path
          d="M22 12L21 12"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"></path>
        <path
          d="M3 12L2 12"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"></path>
        <path
          d="M19.0708 4.92969L18.678 5.32252"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"></path>
        <path
          d="M5.32178 5.32227L4.92894 4.92943"
          stroke="#1C274C"
          stroke-width="1.5"
          stroke-linecap="round"></path>
      </svg>
    </div>

    <div class="burger" aria-label="Menu mobile" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="mobile-nav" aria-hidden="true">
      <a href="/fiches">Fiches techniques</a>
      <a href="/articles">Articles</a>
      <a href="/cours">Cours</a>
      <a href="/quiz">Quiz</a>
    </nav>
  </div>
</header>

<style>
  header {
    align-items: center;
    background-color: var(--backgroundColorPrimary);
    border-bottom: 1px solid var(--borderPrimary);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 100;
    margin-bottom: 1.5rem;
  }

  .innner-div-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    width: 90%;
  }

  .brand a {
    color: var(--linkColor);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.4rem;

    &:hover {
      color: var(--linkHoverColor);
    }
  }

  a {
    text-decoration: none;
    color: var(--linkColor);
    font-size: 1.125rem;
    transition: color 0.3s ease;
  }

  a:hover {
    color: var(--linkHoverColor);
  }

  .desktop-nav {
    display: none;
  }

  html.theme-dark .sun-icon {
    display: none;
  }

  html.theme-light .moon-icon {
    display: none;
  }

  .theme-btn {
    height: 32px;
    width: 32px;
    margin-left: auto;
    margin-right: 24px;
    cursor: pointer;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
  }

  .burger span {
    height: 4px;
    width: 100%;
    background-color: var(--burgerColor);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .burger:hover span {
    background-color: var(--burgerHoverColor);
  }

  .burger.active span:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 80vw;
    max-width: 320px;
    height: 100vh;
    background: var(--backgroundColorMobileNav);
    backdrop-filter: blur(6px);
    transform: translateX(100%);
    opacity: 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    z-index: 1000;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .mobile-nav.active {
    transform: translateX(0);
    opacity: 1;
  }

  @media screen and (min-width: 1024px) {
    .innner-div-wrapper {
      justify-content: unset;
      gap: 32px;
    }

    .desktop-nav {
      display: flex;
      gap: 2rem;
    }

    .theme-btn {
      height: 28px;
      width: 28px;
      margin-right: 0;
    }

    .burger,
    .mobile-nav {
      display: none !important;
    }
  }
</style>

<script>
  const $burger = document.querySelector(".burger") as HTMLDivElement;
  const $mobileNav = document.querySelector(".mobile-nav") as HTMLElement;
  const $body = document.body as HTMLBodyElement;

  const $themeBtn = document.querySelector(".theme-btn") as HTMLElement;

  $themeBtn.addEventListener("click", function () {
    if (document.documentElement.classList.contains("theme-light")) {
      document.documentElement.classList.remove("theme-light");
      document.documentElement.classList.add("theme-dark");
      localStorage.setItem("theme", "theme-dark");
    } else {
      document.documentElement.classList.remove("theme-dark");
      document.documentElement.classList.add("theme-light");
      localStorage.setItem("theme", "theme-light");
    }
  });

  $burger.addEventListener("click", () => {
    const isOpen = $burger.classList.toggle("active");

    $mobileNav.classList.toggle("active");
    $burger.setAttribute("aria-expanded", String(isOpen));
    $mobileNav.setAttribute("aria-hidden", String(!isOpen));

    if (isOpen) {
      $body.style.overflow = "hidden";
      $body.style.height = "100vh";
    } else {
      $body.style.overflow = "";
      $body.style.height = "";
    }
  });
</script>
