---
interface Props {
  id: string;
  content: string;
  date: string;
  title: string;
}

import ParagraphSmall from "../components/ParagraphSmall.astro";
import ParagraphExtraSmall from "../components/ParagraphExtraSmall.astro";
import ParagraphLarge from "../components/ParagraphLarge.astro";

const { id, content, date, title } = Astro.props;
---

<a class="wrapper" href={`/feed#${id}`}>
  <ParagraphLarge content={title} />
  <ParagraphSmall content={content} />
  <ParagraphExtraSmall content={date} />
</a>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p:nth-of-type(1) {
      font-weight: 700;
    }

    p:nth-of-type(2) {
      font-weight: 400;
    }
  }
</style>
