---
import type { News } from "../types/News"
interface Props extends News {}

import ParagraphSmall from "../components/ParagraphSmall.astro";
import ParagraphExtraSmall from "../components/ParagraphExtraSmall.astro";
import ParagraphLarge from "../components/ParagraphLarge.astro";

const { content, published, slug, title } = Astro.props;
---

<a class="wrapper" href={`/feed#${slug}`}>
  <ParagraphLarge content={title} />
  <ParagraphSmall content={content} />
  <ParagraphExtraSmall content={published.toLocaleDateString("FR-fr")} />
</a>

<style>
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p:nth-of-type(1) {
      font-weight: 700;
      color: var(--linkColor);
      transition: 0.4s;
    }

    p:nth-of-type(2) {
      font-weight: 400;
    }
  }

  .wrapper:hover {
    p:nth-of-type(1) {
      color: var(--linkHoverColor);
    }
  }
</style>
