---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<p>
  {content}
</p>

<style>
  p {
    color: #fff;
    font-size: .75rem;
    margin-bottom: 0;
    margin-top: 0;
  }
</style>
