---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<p>
  {content}
</p>

<style>
  p {
    font-size: 14px;
    color: #bababa;
    margin-top: 0;
    margin-bottom: 0;
  }
</style>
