---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<p>
  {content}
</p>

<style>
  p {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: #bababa;
    display: -webkit-box;
    font-size: .875rem;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
  }
</style>
