<div class="scroll-to-top-btn hidden">
  <svg
    width="32px"
    height="32px"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 5V19M12 5L6 11M12 5L18 11"
      stroke="#37474F"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</div>

<style>
  .scroll-to-top-btn {
    position: fixed;
    bottom: 40px;
    right: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.15);
    cursor: pointer;
    opacity: 1;
    transition: .4s;

    @media screen and (min-width: 1024px) {
      right: 64px;
    }
  }

  .hidden {
    /* display: none !important; */
    opacity: 0;
  }
</style>

<script>
  const scrollToTopBtn = document.querySelector(
    ".scroll-to-top-btn"
  ) as HTMLDivElement;

  window.addEventListener("scroll", () => {
    if (window.scrollY > window.innerHeight) {
      scrollToTopBtn.classList.remove("hidden");
    } else {
      scrollToTopBtn.classList.add("hidden");
    }
  });

  scrollToTopBtn.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
