<div class="theme-switcher-wrapper">
  <svg class="theme-button">
    <use class="sun-icon" xlink:href="#sun-icon"></use>
    <use class="moon-icon" xlink:href="#moon-icon"></use>
    <use class="system-icon" xlink:href="#system-icon"></use>
  </svg>

  <div class="theme-switcher-popover">
    <ul class="themes">
      <li data-theme="theme-light">
        <svg aria-label="Changer pour le thème light"><use xlink:href="#sun-icon"></use></svg>
        Thème light
      </li>
      <li data-theme="theme-dark">
        <svg aria-label="Changer pour le thème dark"><use xlink:href="#moon-icon"></use></svg>
        Thème dark
      </li>
      <li data-theme="theme-system">
        <svg aria-label="Changer pour le thème de votre système d'exploitation"><use xlink:href="#system-icon"></use></svg>
        Thème système
      </li>
    </ul>
  </div>
</div>

<style>
  @keyframes rotateThemeIcon {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .theme-switcher-wrapper {
    position: relative;

    svg {
      height: 28px;
      width: 28px;
    }
  }

  .theme-button use {
    display: none;
  }

  html.theme-dark .theme-button use.moon-icon {
    display: initial;
  }

  html.theme-light .theme-button use.sun-icon {
    display: initial;
  }

  html.theme-system .theme-button use.system-icon {
    display: initial;
  }

  .theme-button.animate {
    animation: rotateThemeIcon 0.4s ease-in-out;
  }

  .theme-switcher-popover {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0rem;
    background-color: var(--backgroundColorPrimary);
    min-width: 220px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--borderPrimary);
    animation: fadeIn 0.2s ease-out;
    color: var(--linkColor);
  }

  .theme-switcher-popover.open {
    display: block;
  }

  .themes {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .themes li {
    padding: 0.6rem 1rem;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 0;

    &:hover {
      background-color: var(--backgroundColorSecondary);
    }
  }
</style>

<script>
  const $themeSwitcherWrapper = document.querySelector(
    ".theme-switcher-wrapper",
  ) as HTMLElement;
  const $themeBtn = document.querySelector(".theme-button") as HTMLElement;
  const $themeSwitcherPopover = document.querySelector(
    ".theme-switcher-popover",
  ) as HTMLElement;

  document.addEventListener("click", function (e) {
    if (
      !$themeSwitcherWrapper.contains(e.target as HTMLElement) &&
      e.target !== $themeBtn
    ) {
      $themeSwitcherPopover.classList.remove("open");
    }
  });

  $themeBtn.addEventListener("click", function () {
    $themeSwitcherPopover.classList.toggle("open");
  });

  $themeSwitcherPopover.addEventListener("click", function (e) {
    const selectedTheme = (e.target as HTMLElement).getAttribute("data-theme");

    if (selectedTheme) {
      document.documentElement.className = selectedTheme;

      $themeBtn.classList.add("animate");
      setTimeout(() => {
        $themeBtn.classList.remove("animate");
      }, 600);
      $themeSwitcherPopover.classList.remove("open");
    }
  });
</script>
