---

---

<div class="warning-wrapper">
  <p class="warning-message">
    <!--?xml version="1.0" encoding="utf-8"?--><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
    <svg
        class="warning-icon"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="12" cy="17" r="1" fill="#FFF"></circle>
      <path
        d="M12 10L12 14"
        stroke="#FFF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M3.44722 18.1056L10.2111 4.57771C10.9482 3.10361 13.0518 3.10362 13.7889 4.57771L20.5528 18.1056C21.2177 19.4354 20.2507 21 18.7639 21H5.23607C3.7493 21 2.78231 19.4354 3.44722 18.1056Z"
        stroke="tomato"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
    Cette page est en cours de réalisation.
    <br />
    Revenez d'ici quelque temps pour découvrir sa nouvelle version.
  </p>
</div>

<style>
  .warning-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: #252525;
    padding: 24px;
    border-radius: 8px;
  }

  .warning-message {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
  }

  .warning-icon {
    height: 40px;
    width: auto;
  }
</style>
