---

---

<div class="warning-wrapper">
  <p class="warning-message">
    <svg
      class="warning-icon"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#warning-icon"></use>
    </svg>
    Cette page est en cours de réalisation.
    <br />
    Revenez d'ici quelque temps pour découvrir sa nouvelle version.
  </p>
</div>

<style>
  .warning-wrapper {
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: var(--backgroundColorSecondary);
    padding: 24px;
    border-radius: 8px;
  }

  .warning-message {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 0;
  }

  .warning-icon {
    height: 40px;
    width: auto;
  }
</style>
