---
import type { Chapter } from "../../../types/Chapter";
import type { Cheatsheet } from "../../../types/Cheatsheet";

import CourseLandingLayout from "../../../layouts/CourseLandingLayout.astro";

import { GITHUB_ACTIONS_TESTIMONIALS } from "../../../data/testimonials.ts";

const courseChapters = Object.values(
  import.meta.glob("./chapitres/*.md", { eager: true }),
) as Chapter[];
let cheatsheets = Object.values(
  import.meta.glob("../../fiches/*.md", { eager: true }),
) as Cheatsheet[];
cheatsheets = cheatsheets.filter((cheatsheet) =>
  cheatsheet.frontmatter.title.includes("Github"),
);
---

<CourseLandingLayout
  srcPicture="/images/cours-ci-cd-github-actions/usine-factorio-like.webp"
  altPicture="Une usine à la Factorio, pixel art"
  courseTitle="Maîtrisez les pipelines CI/CD avec les GitHub Actions"
  courseDescription="Apprenez à utiliser Docker et Docker Compose par la pratique. Découvrez comment Docker peut faciliter le développement d'applications et leur mise en production."
  courseUrl="/cours/ci-cd-github-actions/chapitres/decouverte-concepts-ci-cd"
  courseTestimonials={GITHUB_ACTIONS_TESTIMONIALS}
  quizUrl="/quiz/quiz-niveau-docker"
  courseChapters={courseChapters}
  cheatsheets={cheatsheets}
  courseLevel="Intermédiaire"
  courseDuration={12}
  courseGoals={[
    "Créez vos propres images Docker",
    "Déployez une app complète",
    "Optimisez vos builds pour la prod",
  ]}
>
  <div slot="skills-section">
    <p>
      Docker est devenu un outil incontournable pour les développeurs. Longtemps
      réservé aux administrateurs système et aux DevOps, il est désormais
      demandé dans un grand nombre d'entreprises, quel que soit le rôle
      technique.
      <br />
      <br />
      Dans ce cours, vous apprendrez à utiliser Docker et Docker Compose pour conteneuriser
      vos projets. Vous verrez comment simplifier vos déploiements, mieux collaborer
      en équipe et préparer vos applications pour la production.
    </p>
    <p>À l’issue du cours, vous serez capable de :</p>
    <ul>
      <li>
        <svg
          class="check-icon"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="#check-icon"></use>
        </svg>
        Créer et personnaliser vos propres images Docker en choisissant la bonne
        base et en optimisant vos builds.
      </li>
      <li>
        <svg
          class="check-icon"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="#check-icon"></use>
        </svg>
        Mettre en place une architecture conteneurisée complète : base de données,
        back-end, front-end.
      </li>
      <li>
        <svg
          class="check-icon"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <use xlink:href="#check-icon"></use>
        </svg>
        Préparer vos images pour la production grâce au multi-stage build.
      </li>
    </ul>
    <p>
      <strong>Ce cours est résolument pratique</strong> : chaque notion est illustrée
      par des mises en situation concrètes, accompagnées de screencasts et de corrections
      détaillées.
    </p>
  </div>
</CourseLandingLayout>

<style>
  .check-icon {
    width: 24px;
    height: 24px;
  }
</style>
