---
import "../styles/normalize.css"
import "../styles/global.css"

interface Props {
	title: string,
	meta: string
}

const { title, meta } = Astro.props
---

<html lang="FR-fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/icon-nx.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>NX Academy - {title}</title>

		<meta name="description" content={meta} />

	</head>
	<body>
		<slot />
	</body>
</html>