---
import "@fontsource/pixelify-sans";
import "@fontsource/space-grotesk";

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
---

<html lang="FR-fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon-nx.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Découvrez TypeScript | NX Academy</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    background-color: #151515;
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
</style>
