---
interface Props {
  title?: string
}

import "../styles/normalize.css"
import "../styles/reset.css"

import "@fontsource/pixelify-sans";
import "@fontsource/space-grotesk";

let { title } = Astro.props

title = title ? `${title} - NX Academy` : "Passez au niveau supérieur en programmation avec NX Academy"
---

<html lang="FR-fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/icon-nx.png" />
    
    <title>{title}</title>
    <meta name="description" content="Suivez gratuitement des cours en ligne et améliorez vos compétences en programmation et devops.">
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    background-color: #151515;
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
  }
</style>
