---
import "../styles/normalize.css"
import "../styles/global.css"
---

<html lang="FR-fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/images/icon-nx.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>NX Academy - Cours en Ligne de Programmation, DevOps et IA - Apprenez et Évoluez</title>

		<meta name="description" content="Élevez vos compétences avec des cours en ligne spécialisés en programmation, DevOps et IA. Accédez à des contenus interactifs de qualité, des tutoriels pratiques et des cheasheets. Le tout sans dépenser un euro." />

	</head>
	<body>
		<slot />
	</body>
</html>