---
interface Props {
  frontmatter: {
    title?: string;
  };
}

import BaseLayout from "./BaseLayout.astro";

const {
  frontmatter: { title },
} = Astro.props;
---

<BaseLayout title={title}>
  <div>
    <section>
      <slot />
    </section>
  </div>
</BaseLayout>

<style>
  div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  section {
    width: 90%;
    max-inline-size: 66ch;
    margin-left: auto;
    margin-right: auto;
  }
</style>

<style is:global>
  h1 {
    font-size: clamp(2.5rem, 0.75rem + 1.5vw, 4rem);
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fff;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #fff;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  p {
    margin-bottom: 1.5rem;
    color: #eee;
  }

  hr {
    color: #fff;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #4effa0;
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: #4effa0aa;
    }
  }

  ul {
    margin-bottom: 1.75rem;
  }

  .brand-name,
  .author {
    font-family: "Pixelify Sans", sans-serif;
  }

  .author {
    font-size: 1.5rem;
  }
</style>
