---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title: string,
  meta: string,
  frontmatter: any
}

const {
  title,
  meta,
  frontmatter
} = Astro.props
---

<BaseLayout title={title ? title : frontmatter.title} meta={meta ? meta : frontmatter.meta}>
  <section>
    <a href="/">Revenir à l'accueil</a>
      <slot />
  </section>
</BaseLayout>

<style>
  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 680px;
    padding-bottom: 48px;
    padding-top: 24px;
    width: 90%;
  }

  a {
    text-decoration: underline;
  }
</style>
