---
import theme from "../config/theme"

import BaseLayout from "./BaseLayout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro"

const {
  colors: {
    black,
    neonGreen,
    neonGreenLight,
    white
  }
} = theme
---

<BaseLayout>
  <div>
    <Header />
    <slot />
    <div class="links-wrapper">
      <Button label="Revenir au chapitre précédent" href="#" type="secondary" />
      <Button label="Passer au chapitre suivant" href="#" type="primary" />
    </div>
    <Footer />
  </div>
</BaseLayout>

<style is:global define:vars={{ black, neonGreen, neonGreenLight, white }}>
  div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  section {
    width: 90%;
    /* max-width: 680px; */
    max-inline-size: 66ch;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }

  img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 8px;
  }

  p {
    margin-bottom: 1.5rem;
  }

  hr {
    color: #fefefe;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  a {
    text-decoration: none;
    color: var(--neonGreen);
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: var(--neonGreenLight);
    }
  }

  .links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;

    @media screen and (min-width: 48rem) {
      flex-direction: row;
    }
  }
</style>
