---
import type { Breadcrumb } from "../types/Breadcrumb";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    imgSrc?: string;
  };
}

import theme from "../config/theme";
import BaseLayout from "./BaseLayout.astro";

const {
  colors: { neonGreen, neonGreenLight, black },
} = theme;

const {
  frontmatter: { title, description, imgSrc },
} = Astro.props;

const breadCrumbs: Breadcrumb[] = [
  {
    pageName: "Accueil",
    pageUrl: "/",
  },
  {
    pageName: "Fiches techniques",
    pageUrl: "/fiches",
  },
];
---

<BaseLayout
  breadcrumbs={breadCrumbs}
  description={description}
  image={imgSrc}
  title={title}
>
  <main>
    <section>
      <slot />
    </section>
  </main>
</BaseLayout>

<style>
  main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
</style>

<style is:global define:vars={{ neonGreen, neonGreenLight, black }}>
  img {
    max-width: 100%;
    border-radius: 8px;
  }

  article {
    max-inline-size: 66ch;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #fefefe;
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: #fefefe;
  }

  p {
    margin-bottom: 1.5rem;
    color: #bababa;
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  ul {
    color: #bababa;
    margin-bottom: 2.5rem;
  }

  li {
    margin-bottom: 1.5rem;
    color: #bababa;
    font-size: clamp(0.875rem, 0.75rem + 1.5vw, 1.125rem);
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 2rem;
  }

  a {
    text-decoration: none;
    color: var(--neonGreen);
    font-weight: 500;
    transition: 0.4s color;

    &:hover {
      color: var(--neonGreenLight);
    }
  }

  p > code {
    background-color: var(--neonGreen);
    padding: 0.25rem;
    color: var(--black);
  }

  pre,
  ul {
    margin-bottom: 1.75rem;
  }

  blockquote {
    padding-left: 2rem;
    font-style: italic;
  }
</style>
