---
import BaseLayout from "./BaseLayout.astro";

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <div>
    <Header />
    <slot />
    <Footer />
  </div>
</BaseLayout>

<style>
    div {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
</style>
