---
import BaseLayout from "./BaseLayout.astro"

const pageTitle = "Le titre de mon cours"
const pageDescription = "La meta description du cours"
---

<BaseLayout
    title={pageTitle}
    description={pageDescription}
>
  <h1>Hello, toto</h1>
</BaseLayout>

