name: Test and check NX Website when creating a PR on main

on:
  pull_request:
    branches: ["main"]
    types:
      - opened
      - synchronize

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  test-and-check:
    runs-on: ubuntu-latest
    env:
      ASTRO_DB_REMOTE_URL: ${{ secrets.ASTRO_DB_REMOTE_URL }}
      ASTRO_DB_APP_TOKEN: ${{ secrets.ASTRO_DB_APP_TOKEN }}

    steps:
      - name: Checking out
        uses: actions/checkout@v4
      - name: Setting up Node 24
        uses: actions/setup-node@v3
        with:
          node-version: 24
          cache: "npm"
      - name: Installing dependencies
        run: npm ci
      - name: Running Prettier (check)
        run: npm run prettier:check
      - name: Running the tests
        run: npm test
      - name: Building the app for testing purposes
        run: npm run build
